body{
    background-color:darkcyan;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR styling starts */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li{
    display: inline;
    list-style: none;
    
}
 
li a{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: darkcyan;
    float: right;
    text-align: center;
    padding: 15px 20px ;
    margin-top: 20px;

}

li a:hover{
    background-color: aqua;
}

#profile-pic{
    float: left;
    border-radius: 100px;
}

/* NAVBAR styling Ends */


/* Main Page styling starts  */



.main-div {
    border: 5px solid rgb(11, 201, 248);
    

}

#main-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 15px double ;
   
}

.intro-text{
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 25px;
    padding: 20px 20px;
}

#intro{
  font-family: 'Otomanopee One', sans-serif;
  
}

/* About Page Styling */
.about-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 20px double ;
  
}
.about-text{
  max-width: 60rem;
  margin: auto;
  font-size: 20px ;
}

#intro{
    text-align: center;
}
/* Main Page styling ends  */



/* Habit page styling */

.habbit-intro{
  text-align: center;
  font-size: 2rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
  }

  .img-div {
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }

  #habit-pic{
    width: 300px;
    height: 350px;
  }

  figure{
    text-align: center;
  }

  figcaption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .75em;
    font-style: italic;
    font-weight: 400;
  }

.img-div {
  border: 1px solid rgb(11, 201, 248);
  border-radius: 15px;
  padding: 5px;
}


/* Footer styling  */


footer{
  text-align: center;
  background-color: black;
  color: aliceblue;
  margin: 0;
    padding: 0;
}

.social-media{
  font-size: 2rem;
  word-spacing: 1rem;
}

.social-media :hover{
  color: aqua;
  cursor: pointer;
}